// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*--全体共通--*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #d6f5eb;
}

.space {
    margin-bottom: 2rem;
}


.border-bottom {
    border-bottom: 1px solid #eee;
}

.item-center{
    text-
}
